<div class="login-container">
    <h2>Giriş Yap</h2>
    <form (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="logindata.email" name="email" required 
            email class="form-control" #emailCtrl="ngModel">
            <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="text-danger">
                <small *ngIf="emailCtrl.errors?.['required']">Email gerekli.</small>
                <small *ngIf="emailCtrl.errors?.['email']">Geçerli bir email giriniz.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Şifre</label>
            <input type="password" id="password" [(ngModel)]="logindata.Password" name="password" 
            required class="form-control" minlength="6" #passwordCtrl="ngModel">
            <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="text-danger">
                <small *ngIf="passwordCtrl.errors?.['required']">Şifre gerekli.</small>
                <small *ngIf="passwordCtrl.errors?.['minlength']">Şifre en az 6 karakter olmalıdır.</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Giriş Yap</button>
        <p class="text-danger mt-2">{{ errorMessage }}</p>
    </form>
    <div class="register-container">
        <p>Hesabınız yok mu? <a href="/register" class="btn btn-link">Kaydol</a></p>
    </div>
</div>
